doctype html
html
    head
        title Blog

        block css
            link(href='http://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
            link(href='http://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet')
            link(href='public/css/main.css', rel='stylesheet')
    body
        #topbar
            if user
                span Logged as #{user.username}
            else
                a(href='/login') Login
        #content
            block content