doctype html
html
    head
        title Blog

        block css
            link(href='http://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    body
        if user
            #topbar
                span Logged as #{user.username}
        #content
            block content